:root {
  --backgroundHTML: #bdbbbb;
  --backgroundContainer: #E5E5E5;
  --backgroungCard: #ffffff;
  --border: #eaeaea;
  --text: #363636;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  background-color: var(--backgroundHTML);
  color: var(--text);
  font-family: 'Montserrat', sans-serif;
}
.containerHome {
  background-color: var(--backgroundContainer);
  margin: 0 auto;
  padding: 50px 75px 60px;
}
.divider {
  margin-bottom: 45px;
}
.cardWrapper {
  background: var(--backgroungCard);
  border: 1px solid var(--border);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
.cardContent {
  height: 220px;
}
.cardDate {
  display: flex;
  align-items: center;
  justify-content: start;
}
.cardDate::before {
  content: "";
  background-image: url("../../assets//svg/cardDate.svg");
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
  margin-right: 9px;
}
.cardTitle {
  display: inline-block;
  height: 60px;
  overflow: hidden;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 20px;
}
.cardSummary {
  display: inline-block;
  height: 120px;
  overflow: hidden;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.link::after {
  display: inline-flex;
  content: "";
  background-image: url("../../assets//svg/Arrow.svg");
  background-size: 12px 10px;
  height: 10px;
  width: 12px;
  margin-left: 5px;
}
.link:link,
.link:hover,
.link:visited {
  text-decoration: none;
  color: var(--text);
  font-weight: 700;
  font-size: 16px;
}
.filter {
  margin-bottom: 40px;
}
.title {
  line-height: 20px;
  font-size: 16px;
}
.textField {
  height: 50px;
  width: 100%;
}
